<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appoxee.testapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppoxeeTestApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.mapp.RICH_PUSH" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <data android:scheme="apx" />
                <data android:host="deeplink" />

                <action android:name="com.appoxee.test" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Deeplinking Start -->
        <activity android:name=".DeepLinkActivity">
            <intent-filter>
                <data android:scheme="apx" />
                <data android:host="deeplink" />

                <action android:name="com.appoxee.VIEW_DEEPLINK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomDeeplinkActivity">
            <intent-filter>
                <data android:scheme="apx" />
                <data android:host="custom" />

                <action android:name="com.appoxee.VIEW_CUSTOM_LINKS" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".InboxActivity">
            <intent-filter>
                <data android:scheme="apx" />
                <data android:host="inbox" />

                <action android:name="com.appoxee.VIEW_INBOX" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Deeplinking End -->

        <receiver
            android:name=".MyPushBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.appoxee.PUSH_OPENED" />
                <action android:name="com.appoxee.PUSH_RECEIVED" />
                <action android:name="com.appoxee.PUSH_DISMISSED" />

                <category android:name="${applicationId}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e75f68137916a36f768f49040b9925ce67d7c6cb" />

        <activity android:name=".ConfigurationMappOptionsActivity" />
    </application>

</manifest>